.backBtn, .skipBtn {
    align-items: center;
    padding: 8px 12px;
    background-color: white;
    border: #0A7088 2px solid;
    border-radius: 1em;
    color: black;
}

#progressBar {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
    display: none;
}

.dot {
    height: 1em;
    width: 1em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.currDot {
    background-color: #0A7088;
}

#welcomeQuestion {
    overflow: scroll;
    height: 300px;
    font-size: 16px;
    text-align: left;
    border: solid black 5px;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    
    /* padding-left: 5%;
    padding-right: 5%; */
    padding: 5%;
}

#welcomeMsg {
    font-size: 42px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.hidden {
    display: none;
}

.nextBtn, #beginForm, #submitBtn {
    /* background: #545D69; */
    border-radius: 1em;
    padding: 8px 12px;
    color: white;
    align-self: end;
    /* margin-left: 75%; */
    color: white;
    background-color: #0A7088;
    border: solid 2px #0A7088;
}

#beginForm {
    margin-left: 75%;
    width: 7em;
}

.backBtn {
    color: black;
    background-color: white;
    border: #0A7088 2px solid;
    border-radius: 1em;
}

.controls {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.inline {
    display: flex;
    flex-direction: row;
}

button {
    width: 5em;
}

.questionBubble {
    border: solid black 5px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    padding-left: 5%;
    padding-right: 5%;
    left: 111px;
    top: 68px;
    margin: 3%;
    text-align: left;
    width: fit-content;
    max-height: 8em;
    margin-left: 13%;
    overflow: scroll;
    overflow-y: scroll;
}  

.question {
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.questionInstructions {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

.formQuestion img {
    width: 50px;
    height: 50px;
    margin-left: 5%;
    /* left: 30px;
    top: 275px; */
    /* float: right; */
    /* float: left; */
    margin-right: 5%;
}

.sideByside {
    display: flex;
    flex-flow: row;
}

.dropDownList {
    margin-left: 5%;
}

.formQuestion select {
    border: 1px solid #1A1A1A;
    box-sizing: border-box;
    border-radius: 10px;
    width: 173px;
}

#progressBar.active {
    display: flex;
    margin-top: 1em;
}

#circleTag  {
    border: solid black 5px;
    border-radius: 3em;
    /* padding-left: 5%;
    padding-right: 5%; */
    padding: 7%;
}

.closeBtn {
    margin-left: 90%;
}

#demo-simple-select {
    min-width: 9em;
}

#demo-simple-select-label {
    margin: .4em;
    font-size: 1.3em;
    color: black;
}

.dropdown-form {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


/* stylings for the calendar view */
#ui-datepicker-div {margin-left:-160px; }

.textField {
    background-color: pink;
    margin-left: 0;
    min-width:fit-content
}

.MuiPaper-root {
    background-color: pink;
}

.modal {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
}

#moneyQuestions, #pointOfContactQuestions {
    display: flex;
    flex-flow: column;
}

input {
    height: 2.5em;
    width: 80%;
}

/* temporary bc it looks wack right now*/
#pointOfContactQuestions {
    width: 55%;
}

@media (min-width: 1000px) {
    label {
        font-size: 1.1em;
    }

    #fundingPage {
        margin: auto;
        padding: 5%;
        width: 60%;
    }

    #WelcomeMsg {
        margin: auto;
    }
    .answer {
        width: 1.5em;
        height: 1.5em;
    }

    #optionList { 
        display: grid;
        width: 85%;
        grid-template-columns:  33% 33% 33%; /*25% 25% 25% 25%;*/
        grid-template-rows: auto auto auto auto; 
        column-gap: 5px;
        row-gap: 5px;
    }

    .dropDownList {
        margin: auto;
    }

    .questionBubble h4 {
        font-size: 1.7em;
        width: 100%;
        margin: .4em;
    }

    .questionBubble h5 {
        font-size: 1em;
        width: 100%;
        margin: 0.4em;
    }

    button {
        width: 7em;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    #beginForm{
        margin-left: 50%;
    }
}