.backBtn, .skipBtn {
    align-items: center;
    padding: 8px 12px;
    background-color: white;
    border: #0A7088 2px solid;
    border-radius: 1em;
    color: black;
}

#progressBar {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
    display: none;
}

.dot {
    height: 1em;
    width: 1em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.currDot {
    background-color: #0A7088;
}

#welcomeQuestion {
    overflow: scroll;
    height: 300px;
    font-size: 16px;
    text-align: left;
    border: solid black 5px;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    
    /* padding-left: 5%;
    padding-right: 5%; */
    padding: 5%;
}

#welcomeMsg {
    font-size: 42px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

.nextBtn, #beginForm, #submitBtn {
    /* background: #545D69; */
    border-radius: 1em;
    padding: 8px 12px;
    color: white;
    align-self: end;
    /* margin-left: 75%; */
    color: white;
    background-color: #0A7088;
    border: solid 2px #0A7088;
}

#beginForm {
    margin-left: 75%;
}

.backBtn {
    margin-left: 40%;
    margin-right: 5px;
    color: black;
    background-color: white;
    border: #0A7088 2px solid;
    border-radius: 1em;
}

.controls {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
}

.questionBubble {
    border: solid black 5px;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    padding-left: 5%;
    padding-right: 5%;
    left: 111px;
    top: 68px;
    margin: 3%;
    text-align: left;
    width: 13em;
    margin-left: 65px;
}  

.question {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.questionInstructions {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

.formQuestion img {
    width: 50px;
    height: 50px;
    margin-left: 5%;
    /* left: 30px;
    top: 275px; */
    /* float: right; */
    /* float: left; */
    margin-right: 5%;
}

.sideByside {
    display: flex;
    flex-flow: row;
    
}

.dropDownList {
    margin-left: 5%;
}

.formQuestion select {
    border: 1px solid #1A1A1A;
    box-sizing: border-box;
    border-radius: 10px;
    width: 173px;
}

#progressBar.active {
    display: flex;
    margin-top: 1em;
}

#confirmPopup h4 {
    border: solid black 5px;
    border-radius: 3em;
    /* padding-left: 5%;
    padding-right: 5%; */
    padding: 7%;
}

.closeBtn {
    margin-left: 90%;
}

#demo-simple-select {
    min-width: 9em;
}

#demo-simple-select-label {
    margin: .4em;
    font-size: 1.3em;
    color: black;
}

.dropdown-form {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


/* stylings for the calendar view */
#ui-datepicker-div {margin-left:-160px; }

.textField {
    background-color: pink;
    margin-left: 0;
    min-width:fit-content
}

.MuiPaper-root {
    background-color: pink;
}

.modal {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
}