.catTitle {
    background-size: 300px;
    background-repeat: no-repeat;
    color: white;
    padding: 5%;
    background-position: center;
    background-size: cover;
}

.backArrow {
    transform: rotateY(180deg);
}
