.catIcon {
    width: 30%;
    height: auto;
}

.navArrow {
    transform: scale(1.3);
    margin-right: 3%;
    position: absolute;
    bottom: 60px;
    right: 10px;
}


.categoryContainer {
    display: flex;
    flex-flow: column;
    border-radius: 3em;
    margin-bottom: 10%;
    align-items: center;
    font-size: 0.7em;
    text-align: center;
    color: white;
    background-color: #0A7088;
}

.categoryContainer:hover {
    background-color: #D6775A
}

.categoryContainer img {
    width: 100%;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

.categoryContainer h2 {
    /* padding-right: 6%; */
    width: 95%;
    margin: 0;
    padding: 3%;
}

.translatorBtn {
    /* border-radius: 3em; */
    /* border: black solid 1px; */
    background-color: white;
    position: fixed;
    /* position: float; */
    /* float: right; */
    top: 40%;
    /* left: 200px; */
    z-index: 1;
    left: 30%;
    
    /* padding: 5%; */
}

.hidden {
    display: none;
}

.gridContainer {
    flex-grow: 1;
}

.libraryHeader {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    /* margin: -1.3em; */
    align-items: left;
    background-color: #808080;
    color: white
}

.libraryHeader h1 {
    font-size: 2em;
    font-weight: bolder;
    /* margin-left: 1em; */
}

/* .libraryHeader p {
    margin-left: 2em;
} */

.bannerTitle {
    font-size: 2em;
    font-weight: bolder;
}

#grid {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    grid-gap: 1em;
}

/* ask about why hamburger menu */
@media (min-width: 1000px) {
    .libraryHeader {
        padding-top: 1em;
        padding-bottom: 1em;
        /* margin-top: -2.3em; */
        margin-bottom: 1em;
        margin-left: -5.3em;
        margin-top: -1.3em;
        padding-left: 0;
        padding-right: 0;
        width: auto;
    }

    .libraryHeader h1, .libraryHeader p {
        margin-left: 10%;
    }

    /* .categoryContainer {
        width: 60%;
        margin-left: 20%;
    } */

    #lib-grid {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: center;
        grid-gap: 3em;
    }
}