/* stylings for landing page*/
/* Container holding the image and the text */
.text-image-container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .blackLayer{
  
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.5;
  
  }
  /* Centered text */
  .centered_text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    text-align: left;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2em;
  }
  
  /* styling 2-sided descriptions*/
  .two-column {
    margin: 1em;
    display: flex;
    flex-direction: row;
  }
  
  .two-column h3 {
    font-size: 1.3em;
    font-weight: bolder;
  }
  
  .right-column {
    width: 80%;
    margin-left: 0.3em;
  }
  
  .icon {
    width: 3em;
    height: 3em;
  }
  
  .redirect_button {
    background-color: rgb(83, 82, 82);
    border-radius: .5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .1em;
    padding-bottom: .1em;
    width: fit-content;
    
  }
  
  .button_text{
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: .3em;
    margin: 0;
  }
  
  .button_text:link, .button_text:visited {
    color: white;
    text-decoration: dotted;
  }
  
  .icon_styling {
    width: 3em;
    display: flex;
    justify-content: center;
  }
  
  .page {
    width: 100%;
    margin-top: 13%;
  }