/* stylings for landing page*/
/* Container holding the image and the text */
.text-image-container {
  position: relative;
  text-align: center;
  color: white;
}


#landingPage {
  background-color: #D6775A !important;
  color: white;
}

.blackLayer{

  width:100%;
  height:100%;
  background-color:#000;
  opacity:0.5;

}
/* Centered text */
.centered_text h1 {
  /* position: absolute;
  top: 62%;
  left: 50%; */
  width: 100%;
  text-align: center;
  align-self: center;
  /* transform: translate(-50%, -50%); */
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin-top: 2.5em;
}

.centered_text h2 {
  width: 100%;
  text-align: center;
  align-self: center;
  /* transform: translate(-50%, -50%); */
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin-top: .2em;
}

/* styling 2-sided descriptions*/
.two-column {
  margin: 1em;
  display: flex;
  flex-direction: row;
  background-color: grey;
  border-radius: .5em;
  padding: .4em;
}

.two-column h3 {
  font-size: 1.3em;
  font-weight: bolder;
}

.right-column {
  width: 80%;
  margin-left: 0.3em;
}

.icon {
  width: 3em;
  height: 3em;
}

.redirect_button {
  background-color: #0A7088;
  border-radius: .5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .1em;
  padding-bottom: .1em;
  width: fit-content;
  
}

.button_text{
  color: white;
  font-size: 1em;
  text-decoration: none;
  padding: .3em;
  margin: 0;
}

.button_text:link, .button_text:visited {
  color: white;
  text-decoration: dotted;
}

.icon_styling {
  width: 3em;
  display: flex;
  justify-content: center;
}

/* #copyrightFooter {
  margin-top: 10%;
  margin-left: 5%;
} */

.page {
  width: 100%;
  margin-top: 13%;
}

#banner {
  width: 100%;
  height: 17em;
}

#grid {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  grid-gap: 1em;
}

.center-div {
  display: flex;
  justify-content: center;
}

@media (min-width: 1000px) {
    #banner {
      height: 17em;
      width: 70em;
    }

    .centered_text {
      text-align: center;
      display: flex;
      justify-content: center;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }

    .centered_text h1 {
      font-weight: bold;
      width: 50%;
    }

    #landingPage p {
      margin-bottom: .5em;
    }

    .page {
      /* margin-top: 5%; */
      margin-top: 0;
    }

    .page-options {
      display: flex;
      flex-direction: row;
      width: 50%;
      justify-content: center;
    }
}
