#searchMain {
    background-color: white;
}

.main {
    width: 85%;
    margin: auto;
}

strong {
    color: black;
}

h1, h3, p, ul{
    margin: 0; 
    font-weight: normal;
}

h1 {
    margin:0;
    font-size: 1.3em;
}

.title {
    font-weight: bolder;
    font-size: 2.5em;
}

.fundBox {
    margin: .5em;
}

.fundBox h1 {
    /* font-weight: bolder; */
}

.fundBoxTop {
    border: solid 2px gray;
    border-bottom: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: white;
    padding: 1.5em;
    padding-bottom: 0;
}

.fundBox:hover {
    background-color: rgb(218, 214, 214);
}

.fundingFont {
    font-weight: normal;
    color: rgb(83, 82, 82);
}

.moreDetailsBox {
    margin: 0;
    margin-top: 0.5em;
    padding: 0.5em;
    width: fit-content;
    border-radius: 0.5em;
    background-color: #0A7088;
    border: solid 0.2em #0A7088;
}

.form-button {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0.3em;
}


.form-button h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin: 0;
}

.url {
    text-decoration: none;
    color: white;
}
.learnMore {
    background-color: white;
    color: rgb(83, 82, 82);
}

.moreDetailsBox a {
    color: white;
    text-decoration: none;
}


.selected {
    background-color: white;
    border-bottom:#0A7088 .2em solid;
}

.selected h1 {
    font-weight: bold;
}

.content {
    border: 2px white solid;
    width: 95%;
    margin: auto;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.expanded p {
    margin-top: 0.5em;
    margin-bottom: 0.2em; 
}

.expanded h1 {
    font-weight: bold;
    font-size: 2em;
}

.expanded {
    width: 75%;
    margin: auto;
}

.expanded ul {
 margin-left: .6em;
}

.expanded li span {
    position: relative;
    left: -10px;
  }

#page-introduction {
    padding: 5%;
    align-items: left;
    background: radial-gradient(#808080,#9c9a9a);
    color: white
}

#page-introduction h1 {
    font-size: 2em;
    font-weight: bolder;
}

.blue-box {
    margin: 0;
    margin-top: 0.5em;
    padding: 0.5em;
    width: fit-content;
    border-radius: 0.5em;
    border: solid 0.2em #0A7088 ;
    background-color: #0A7088 ;
}

.orange-box {
    margin: 0;
    margin-top: 0.5em;
    padding: 0.5em;
    width: fit-content;
    border-radius: 0.5em;
    border: solid 0.2em #D6775A ;
    background-color: #D6775A ;
}

/* #0A7088 */
.blue-box h2, .orange-box h2 {
    padding-left: .4em;
    margin: 0;
    color: white;
    font-size: 1em;
}

.turquoise-box {
    margin: 0;
    margin-top: 0.5em;
    padding: 0.5em;
    width: fit-content;
    border-radius: 0.5em;
    border: solid 0.2em #0A7088;
}

.turquoise-box a {
    text-decoration: none;
    color: black;
    /* font-weight: bolder; */
    font-size: .8em;
}

.learnMoreBox {
    background-color: #0A7088;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
}

.fundBox:hover .learnMoreBox {
    background-color: #D6775A;
}

#extra-help-text {
    color: white;
    text-decoration: underline;
}

.match-description {
    margin-left: 1em;
    text-align: left;
}

.match-description h3 {
    margin: 0 !important;
}
.learnMoreBox h1 {
    padding: .7em;
    color: white;
    font-size: 1.4em;
    font-weight: bolder;
}

.fundGroup {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    grid-gap: 1em;
}

@media (min-width: 1000px) {
    .fundBox {
        width: 90%;
    }

    .fundBoxTop {
        height: 11em;
    }

    #fundGroup {
        display: grid;
        width: 85%;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto auto auto; 
        column-gap: 5px;
        row-gap: 5px;
    }

    .either {
        margin-left: 2em;
        justify-content: start;
    }

    .either > div {
        margin-left: .6em;
        margin-right: .4em;
    }
}


