.catTitle {
    background-size: 300px;
    background-repeat: no-repeat;
    color: white;
    padding: 5%;
    background-position: center;
    background-size: cover;
    margin-bottom: .5em;
}

.backArrow {
    transform: rotateY(180deg);
}

h4 {
    font-weight: normal;
}

.catContainer {
    padding: 1em;
}

@media (min-width: 1000px) {
    .resourceContainer {
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 5%; */
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: center;
        grid-gap: 2em;
    }

    .catTitle {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    /* .catContainer {
        margin-top: -1.3em;
    } */

    .resource {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        /* width: 25%; */
    }
    
    main h4 {
        font-size: 1.2rem;
        margin-left: 5%;
    }
}
