@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* entire app stylingss */
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

button {
  filter: drop-shadow(2px 2px 1px #a9a9b3);
}

.navbar {
  filter: drop-shadow(2px 2px 2px grey);
}

footer {
  background-color: rgba(196, 196, 196);
  padding-top: 0.5em;
  /* margin-left: 0; */
  width: 100%;
  margin-top: 25%;
  display: absolute;
  bottom:0;
}

footer img {
  height: 15%;
  width: 30%;
  padding-right: 5%;
}

li {
  list-style: inside;
}

@media (min-width: 1000px) {
    footer {
      display: flex;
      flex-flow: row;
      padding: 1em;
      margin-top: 0;
      display: absolute;
      bottom: 0;
    }

    footer img {
      height: 5%;
      width: 15%;
    }

    footer > * {
      margin-left: 5%;
    }

}


