@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* entire app stylingss */
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

button {
  filter: drop-shadow(2px 2px 1px #a9a9b3);
}

.navbar {
  filter: drop-shadow(2px 2px 2px grey);
}

footer {
  background-color: rgba(196, 196, 196);
  padding-top: 0.5em;
  /* margin-left: 0; */
  width: 100%;
  margin-top: 25%;
  display: absolute;
  bottom:0;
}

footer img {
  height: 15%;
  width: 30%;
  padding-right: 5%;
}

li {
  list-style: inside;
}

@media (min-width: 1000px) {
    footer {
      display: flex;
      flex-flow: row;
      padding: 1em;
      margin-top: 0;
      display: absolute;
      bottom: 0;
      flex-shrink: 0;
      margin-top: 15%;
    }

    footer img {
      height: 5%;
      width: 15%;
    }

    footer > * {
      margin-left: 5%;
    }

    nav {
      background-color: white;
      display: flex;
      flex-direction: row;
    }

    #navTitle {
      font-size: 1.4em;
      font-weight: bold;
      width: 35%;
      padding-top: 1%;
    }

    nav a {
      text-decoration: none;
      display: flex;
      /* height: 15%; */
      /* width: 15%; */
      
      color: #D6775A;
    }

    .navTabs {
      align-items: flex-end;
      width: 100%;
      font-size: 1.2em;
      
      /* padding-right: 2%; */
      align-items: stretch;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .navTab {
      padding-top: 1%;
      padding-bottom: 1%;
      width: 100%;
      justify-content: center;
    }

    .navTab p {
      margin-top: 0.3em;
      padding-left: 5%;
    }


    .navTabs svg {
      /* padding-right: 8%; */
      padding-left: 8%;
    }

    nav img {
      width: 4em;
      height: 4em;
    }

}


