#searchMain {
    background-color: white;
}

.main {
    width: 85%;
    margin: auto;
}

strong {
    color: black;
}

h1, h3, p, ul{
    margin: 0; 
    font-weight: normal;
}

.fundBox h1 {
    font-weight: bolder;
}

h1 {
    margin:0;
    font-size: 1.5em;
}

.title {
    font-weight: bolder;
    font-size: 2.5em;
}

.fundBox {
    border: solid 2px gray;
    border-radius: 20px;
    background-color: white;
    padding: 2em;
    margin: 1.5em;
}

.fundBox:hover {
    background-color: rgb(218, 214, 214);
    box-shadow: 0.5em 0.5em lightgray;
}

.fundingFont {
    font-weight: normal;
    color: rgb(83, 82, 82);
}

.moreDetailsBox {
    margin: 0;
    margin-top: 0.5em;
    padding: 0.5em;
    width: fit-content;
    border-radius: 0.5em;
    border: solid 0.2em rgb(83, 82, 82);
}

.form-button {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0.3em;
}


.form-button h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin: 0;
}

.url {
    background-color: rgb(83, 82, 82);
    text-decoration: none;
    color: white;
}
.learnMore {
    background-color: white;
    color: rgb(83, 82, 82);
}

.moreDetailsBox a {
    color: white;
    text-decoration: none;
}

.button {
    background-color: white;
    border-radius: 8px;
    padding-left: 2em;
    padding-right: 2em;
}

.selected {
    background-color: white;
    text-decoration: underline;
    text-decoration-color: #00BCE8;
    text-decoration-thickness: .2em;
}

.selected h1 {
    font-weight: bold;
}

.content {
    border: 2px white solid;
    width: 95%;
    margin: auto;

}
.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.expanded p {
    margin-top: 0.5em;
    margin-bottom: 0.2em; 
}

.expanded h1 {
    font-weight: bold;
    font-size: 2em;
}

.expanded {
    width: 75%;
    margin: auto;
}

#page-introduction {
    padding: 5%;
    align-items: left;
    background-color: #808080;
    color: white
}

#page-introduction h1 {
    font-size: 2em;
    font-weight: bolder;
}

.blue-box {
    margin: 0;
    margin-top: 0.5em;
    padding: 0.5em;
    width: fit-content;
    border-radius: 0.5em;
    border: solid 0.2em #00BCE8 ;
    background-color: #00BCE8 ;
}

/* #0A7088 */
.blue-box h2 {
    padding-left: .4em;
    margin: 0;
    color: white;
    font-size: 1em;
}

.turquoise-box {
    margin: 0;
    margin-top: 0.5em;
    padding: 0.5em;
    width: fit-content;
    border-radius: 0.5em;
    border: solid 0.2em #0A7088;
}

.turquoise-box a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: .8em;
}

.learnMoreBox {
    margin: -2em;
    background-color: #0A7088;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
}

.learnMoreBox h1 {
    padding: .7em;
    color: white;
    font-size: 1.4em;
    font-weight: bolder;
}