.catIcon {
    width: 30%;
    height: auto;
}

.navArrow {
    transform: scale(1.3);
    margin-right: 3%;
    position: absolute;
    bottom: 60px;
    right: 10px;
}

.backNavArrow {
    /*  */
}

.categoryContainer {
    display: flex;
    flex-flow: row;
    border-radius: 1em;
    border: solid black 1px;
    margin-bottom: 10%;
    align-items: center;
    font-size: small;
}

.categoryContainer h2 {
    padding-right: 3%;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

.translatorBtn {
    border-radius: 3em;
    border: black solid 1px;
    background-color: grey;
    bottom: 10px;
    right: 10px;
    position: fixed;
    padding: 5%;
}

.hidden {
    display: none;
}
