.navbar {
    background-color: gray;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* individual  buttons*/
a {
    text-decoration: none;
}

.tab {
    color: white;
    padding: .2em;
    margin-left: 10px;
    margin-right: 10px;
}

.tab h1 {
    font-size: 1.5em;
    text-decoration: none;
}

a:hover{
    text-decoration: wavy;
}