#navbar {
    background-color: black;
    height: 3em;
    /* makes elements centered + in line */
    align-items: center;
    top: 0;
    position: fixed;
}

#navContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/* individual  buttons*/
a {
    text-decoration: none;
}

.tab {
    color: white;
    padding: .2em;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 1.5em;
    text-decoration: none;
}

a:hover{
    text-decoration: wavy;
}

@media (max-width: 450px) {
    #navbar {
        height: 2em;
    }

    .tab h1 {
        font-size: 1em;
        text-decoration: none;
    }
}

/* Medium devices (laptops, 720px and up) */
@media (min-width: 720px) {
    .tab h1 {
        font-size: 1.5em;
        text-decoration: none;
    }
}

/* Medium devices (desktops, 1080px and up) */
@media (min-width: 1000px) {
    #navbar {
        background-color: pink;
    }
}